# --- Configuración del Servidor Emulador ---

# El puerto que usará el emulador para aceptar conexiones.
# Puedes cambiarlo si el puerto 2460 ya está en uso en tu sistema.
EMU_PORT=2460

# El número máximo de conexiones simultáneas que permites.
EMU_MAX_CONNECTIONS=5
